@import "tailwindcss";

:root {
  font-size: 16px;
  --primamry: #E7C36A;
  --background: #000000;
  --header: rgb(0,0,0,0.8);
  --text: white;
  --font-gotham: var(--font-gotham);
  --font-theseason: var(--font-theseason);
  --font-gotham-italic: var(--font-gotham-italic);
  --font-theseason-italic: var(--font-theseason-italic);

}

@theme {
  --color-header: var(--header);
  --color-background: var(--background);
  --color-primary: var(--primamry);
  --font-gotham: var(--font-gotham); 
  --font-theseason: var(--font-theseason);
  --font-gotham-italic: var(--font-gotham-italic);
  --font-theseason-italic: var(--font-theseason-italic);

}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text);
}
